* {
    box-sizing: border-box;
    margin: 0;
    background-color: #b7e1ee
  }

  main {
    margin-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;

  }
  
  h1 {
    font-family: arial;
    font-size: 3em;
    text-align: center;
    margin: 25px;
    padding: 50px;
    background-color: #1d2d50;
    color: #fdebd9;
  }
  
/* #flexbox {
    display: flex;
  }
  
  .column {
    flex: 25%;
    padding: 0 4px;
  }
  
  .column img {
    height: 200px;
  } */ 

  #flexbox2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  #flexbox2 img {
    width: 23%;

  }