nav {
  padding-top: 80px;
  padding-bottom: 10px;
  background-color: rgb(74, 131, 244);

}

* {
  margin-left: 25px;
  margin-right: 25px;
}

html {
  margin: 0px;
}

ul li {
  margin-left: -2rem;
}

ol li {
  margin-left: -2rem;
  font-size: 18px;
}

h1 {
  color: rgb(43, 104, 226);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h3 {
  color: rgb(43, 104, 226);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

a:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

nav {
  margin-left: 0px;
  margin-right: 0px;

}

img {
  width: 80%;
  height: 80%;
  margin-top: 50px;

}

div {
  border-style: solid;
  border-radius: 10px;
}

nav a {
  color: aliceblue;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

main {
  padding-top: 50px;
  padding-bottom: 150px;
  padding-left: 25px;
  padding-right: 25px;


}

footer {
  padding-top: 80px;
  padding-bottom: 10px;
  background-color: rgb(74, 131, 244);
  margin-left: 0px;
  margin-right: 0px;

}

Body {

  margin: 0px;
}