
/* Ställer in margin 0px för att ta bort standardinställningar */
* {
    margin: 0px;
}

/* Använde bakrundsfärg orange i headern eftersom Sirtobys hade orangea inslag på sin hemsida */
header {
    background-color: #ffa500;
    height: 100px;
}

/* Här flexade jag headern så att det blev två kolumner med spacebetween för att få till ett klassiskt sidhuvud */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Klicka var taggen jag använde på diven för headerns navigationsmeny, vill få space/padding till högerkanten. Borde kanske istället använt mig av något annat än px för att underlätta mobilanpassningen */
#klicka {
    padding-right: 150px
}

/* Logo var taggen jag använde på diven för headerns logo, vill få space/padding till vänsterkanten. Borde kanske istället använt mig av något annat än px för att underlätta mobilanpassningen */
#logo {
    padding-left: 150px;
}

/* Drog ner logotypen så att den inte landa utanför headerns höjd */
.logobild {
    width: 60%
}

/* Inställningar för navigationsmenyn */
.hue a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    color: #805300;
    padding-left: 15px;
    text-decoration: none;
}

/* Hover effekter för navigationsmenyn */
.hue a:hover {
    color: #000000
}

/* Inställningar för huvudrubrik */
h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

/* Inställningar för andra rubriken */
h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

/* Inställningar för fjärnde rubriken alltså den som används i menyn */
h4 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

/* Inställningar för text på sidan */
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Inställningar för mina sidor, använde även flexbox för att placera ut mina objekt */
main {
    padding-left: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Bilden till förstasidan, la den som en bakrund för att slippa vit kant runt bilden */
.forstasidan {
    background-image: url('sirtobys.jpg');
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    width: 100%;
    height: 700px;
}

/* Texten på startsidan. Vill få sajten att kännas luftig och stilren, därför valde jag att lägga padding på texten */
.text {
    width: 80%;
    padding-right: 25px;
}

/* Inställningar för footern, ville att den skulle likna headern. Använde mig av flexbox för att placera ut mina objekt */
footer {
    height: 150px;
    background-color: #ffa500;
    padding-left: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Inställningar för footern, ville att den skulle likna headern. Använde mig av flexbox för att placera ut mina objekt */
.fa {
    background-color: white;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    text-decoration: none;
}

/* Inställningar för iconerna i sidfoten. ville egentligen få iconerna lite större. Men lyckades inte med det */
.fa:hover {
    color: white;
    background-color: #000000;
}

.fa-facebook {
    background: #cc8500;
    color: rgb(0, 0, 0);
}

.fa-instagram {
    background: #cc8500;
    color: rgb(0, 0, 0);
}



#ikoner {
    padding-left: 150px;
}

.kontakt {
    padding-right: 150px;
}

/* Bilden till menyn, la den som en bakrund för att slippa vit kant runt bilden  */
.matbilder {
    background-image: url('https://images.squarespace-cdn.com/content/v1/5a2fb34c2278e7f653973c78/1514904908317-98O01CN6UIQL72DVMG02/Biobaren_mat_%C3%B6l_milj%C3%B6_FOTO_BJ%C3%96RN_LINDBERG_DGPFOTO.SE-13.jpg?format=1500w');
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    width: 100%;
    height: 700px;
}

/* Styling för att få till ett snyggt kontaktformulär */
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

/* Styling för knappen till formuläret */
input[type=submit] {
    background-color: #ffa500;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=date] {
    margin-bottom: 20px;
}

/* hoverstyle för knappen till formuläret */
input[type=submit]:hover {
    background-color: #000000;
}

/* padding runt förmuläret */
.container {
    border-radius: 5px;
    padding: 20px;
}

/* Bilden till bokasidan, la den som en bakrund för att slippa vit kant runt bilden  */
.bokabild {
    background-image: url('https://cdn.shopify.com/s/files/1/2400/0975/files/english-pub-ale2_cropped_2048x.jpg');
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    width: 100%;
    height: 700px;
}

  		/* Grid-container för menyn*/
          .grid-container {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 20px;
			padding: 20px;
			margin: 0 auto;
			max-width: 960px;
		}

		/* Stil för rätterna på menyn*/
		.menu-item {
			border: 1px solid black;
			padding: 10px;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		/* Stil för bilden på menyn*/
		.menu-item img {
			max-width: 100%;
			max-height: 200px;
			object-fit: cover;
			margin-bottom: 10px;
		}

		/* Stil för priset på menyn */
		.menu-item p {
			font-weight: bold;
			font-size: 1.2rem;
		}

/* justeringar för att få sajten mobilanpassad  */
@media only screen and (max-width: 600px) {
    
/* skapa en kolumn utan padding på sidorna exkl header o footer  */
    main {
        flex-direction: column;
        padding: 0;
    }

/* logotypens justeringar för att fungera i telefon  */
    #logo {
        min-width: 50%;
        padding-left: 15px;
    }

/* flexbox i header med lite utrymme under  */
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: fit-content;
        margin-bottom: 50px;
    }

/* Text på startsidan så att det blir luftigt och snyggt  */
    .text {
        margin-top: 50px;
        margin-bottom: 50px;
    }

/* Footer med flexbox */
    footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

/* Bortplockad padding för ikoner */
    #ikoner {
        padding: 0px;
    }

/* Bortplockad padding för kontaktuppgifter */
    .kontakt {
        padding: 0px;
    }

/* Bortplockad padding i body */
    body {
        padding: 0px;
    }

/* Bortplockad padding i main */
    main {
        padding: 0px;
    }

/* Bortplockad padding i meny och lite mindre size på bokstäverna så de landar snyggt */
    #klicka {
        padding: 0px;
        font-size: 80%;
    }

/* mindre fontsize för h2 */
    .kontakt h2{
        font-size: 20px;
    }

/* mindre fontsize för text på sidan */
    .kontakt p {
        font-size: 15px;
    }

/* lite padding på kontaktuppgifterna i footern */
    .kontakt {
        padding-right: 15px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        padding: 20px;
        margin: 0 auto;
        max-width: 600px;
    }
  }

