body {
   background-color: rgb(190, 190, 190);
}
h1 {color: #0088ff;}
p {color: #0088ff;}
table {color: #0088ff;}
link {color: #0088ff;}
q {color: #0088ff;}

/* kortkommando för kommentar shift + options + a */